<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demoactivity">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".accessibility.ui.AccessibilityActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <activity android:name=".xLog.XlogActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <activity android:name=".content.resolver.ContentResolverActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <activity android:name=".mvvm.UserInfoActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <activity android:name=".netWork.NetWorkActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <activity android:name=".wanandroid.WanAndroidMainActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>


        <activity android:name=".content.observer.DemoObserverActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <service
            android:name=".accessibility.service.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>
        
        <provider
            android:authorities="${applicationId}"
            android:name=".content.provider.DemoProvider"
            android:exported="true"/>
    </application>

</manifest>